In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
path_dead =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [3]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

In [4]:
dados_paises_covid

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [5]:
dados_paises_covid.rename(columns={"Province/State": "province",
                                   "Country/Region": "country"},
                          inplace=True)

In [6]:
dados_paises_covid_dead.rename(columns={"Province/State": "province",
                                        "Country/Region": "country"},
                               inplace=True)

In [7]:
dados_paises_covid_dead.columns

Index(['province', 'country', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '2/28/23', '3/1/23', '3/2/23', '3/3/23', '3/4/23', '3/5/23', '3/6/23',
       '3/7/23', '3/8/23', '3/9/23'],
      dtype='object', length=1147)

In [8]:
dados_paises_covid = dados_paises_covid.melt(id_vars=['province', 'country',
                                                      'Lat', 'Long'],
                                             var_name = 'date',
                                             value_name = 'infected')

In [9]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(id_vars=['province', 'country',
                                                                'Lat', 'Long'],
                                                       var_name = 'date',
                                                       value_name = 'dead')

In [10]:
dados_paises_covid.tail()

       province               country        Lat        Long    date  infected
330322      NaN    West Bank and Gaza  31.952200   35.233200  3/9/23    703228
330323      NaN  Winter Olympics 2022  39.904200  116.407400  3/9/23       535
330324      NaN                 Yemen  15.552727   48.516388  3/9/23     11945
330325      NaN                Zambia -13.133897   27.849332  3/9/23    343135
330326      NaN              Zimbabwe -19.015438   29.154857  3/9/23    264276

In [11]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long    date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200  3/9/23  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400  3/9/23     0
330324      NaN                 Yemen  15.552727   48.516388  3/9/23  2159
330325      NaN                Zambia -13.133897   27.849332  3/9/23  4057
330326      NaN              Zimbabwe -19.015438   29.154857  3/9/23  5671

In [12]:
dados_paises_covid.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
infected      int64
dtype: object

In [13]:
dados_paises_covid_dead.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
dead          int64
dtype: object

In [14]:
dados_paises_covid['date'] = pd.to_datetime(dados_paises_covid['date'],
                                            infer_datetime_format='True')

In [15]:
dados_paises_covid_dead['date'] = pd.to_datetime(dados_paises_covid_dead['date'],
                                                 infer_datetime_format='True')

In [16]:
dados_paises_covid.tail()

,province,country,Lat,Long,date,infected
330322,NaN,West Bank and Gaza,31.952200,35.233200,2023-03-09,703228
330323,NaN,Winter Olympics 2022,39.904200,116.407400,2023-03-09,535
330324,NaN,Yemen,15.552727,48.516388,2023-03-09,11945
330325,NaN,Zambia,-13.133897,27.849332,2023-03-09,343135
330326,NaN,Zimbabwe,-19.015438,29.154857,2023-03-09,264276

In [17]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long       date  dead
330322      NaN    West Bank and Gaza  31.952200   35.233200 2023-03-09  5708
330323      NaN  Winter Olympics 2022  39.904200  116.407400 2023-03-09     0
330324      NaN                 Yemen  15.552727   48.516388 2023-03-09  2159
330325      NaN                Zambia -13.133897   27.849332 2023-03-09  4057
330326      NaN              Zimbabwe -19.015438   29.154857 2023-03-09  5671

In [18]:
dados_paises_covid_dead.dtypes

province            object
country             object
Lat                float64
Long               float64
date        datetime64[ns]
dead                 int64
dtype: object

In [19]:
dados_paises_covid.shape

(330327, 6)

In [20]:
dados_paises_covid_dead.shape

(330327, 6)

In [21]:
dados_covid = pd.merge(dados_paises_covid, dados_paises_covid_dead,
                       on = ['province', 'country',	'Lat',	'Long',	'date'],
                       how = 'inner')

In [22]:
dados_covid.head(-5)

,province,country,Lat,Long,date,infected,dead
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0
...,...,...,...,...,...,...,...
330317,NaN,Uruguay,-32.522800,-55.765800,2023-03-09,1034303,7617
330318,NaN,Uzbekistan,41.377491,64.585262,2023-03-09,251247,1637
330319,NaN,Vanuatu,-15.376700,166.959200,2023-03-09,12014,14
330320,NaN,Venezuela,6.423800,-66.589700,2023-03-09,552162,5854
330321,NaN,Vietnam,14.058324,108.277199,2023-03-09,11526994,43186

In [23]:
dados_covid.shape

(330327, 7)

In [1]:
# Certifique-se de que pandas_profiling está instalado
%pip install pandas-profiling[notebook]

# Importando as bibliotecas necessárias
import pandas as pd
from pandas_profiling import ProfileReport

# Supondo que você já tenha o DataFrame 'dados_covid'
# dados_covid = pd.read_csv('caminho_para_seu_arquivo.csv')

# Criando o relatório
profile = ProfileReport(dados_covid, title="Pandas Profiling Report", explorative=True)

# Visualizando o relatório no Colab
profile.to_notebook_iframe()

Requirement already satisfied: pandas-profiling[notebook] in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (3.2.0)
Requirement already satisfied: joblib~=1.1.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (1.1.1)
Requirement already satisfied: scipy>=1.4.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (1.10.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (1.5.3)
Requirement already satisfied: matplotlib>=3.2.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (3.7.1)
Requirement already satisfied: pydantic>=1.8.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (2.6.4)
Requirement already satisfied: PyYAML>=5.0.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (6.0)
Requirement already satisfied: jinja2>=2.11.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (3.1.2)
Requirement already satisfied: markupsafe~=2.1.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (2.1.1)
Requirement already satisfied: visions[type_image_path]==0.7.4 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (0.7.4)
Requirement already satisfied: numpy>=1.16.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (1.24.3)
Requirement already satisfied: htmlmin>=0.1.12 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (0.5.2)
Requirement already satisfied: phik>=0.11.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (0.12.4)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (0.2.0)
Requirement already satisfied: requests>=2.24.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (2.29.0)
Requirement already satisfied: tqdm>=4.48.2 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (4.65.0)
Requirement already satisfied: seaborn>=0.10.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (0.12.2)
Requirement already satisfied: multimethod>=1.4 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (1.11.2)
Requirement already satisfied: jupyter-client>=5.3.4 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (8.1.0)
Requirement already satisfied: jupyter-core>=4.6.3 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (5.3.0)
Requirement already satisfied: ipywidgets>=7.5.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas-profiling[notebook]) (8.0.4)
Requirement already satisfied: attrs>=19.3.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling[notebook]) (22.1.0)
Requirement already satisfied: networkx>=2.4 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling[notebook]) (2.8.4)
Requirement already satisfied: imagehash in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling[notebook]) (4.3.1)
Requirement already satisfied: Pillow in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from visions[type_image_path]==0.7.4->pandas-profiling[notebook]) (9.4.0)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipywidgets>=7.5.1->pandas-profiling[notebook]) (6.19.2)
Requirement already satisfied: ipython>=6.1.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipywidgets>=7.5.1->pandas-profiling[notebook]) (8.12.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipywidgets>=7.5.1->pandas-profiling[notebook]) (5.7.1)
Requirement already satisfied: widgetsnbextension~=4.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipywidgets>=7.5.1->pandas-profiling[notebook]) (4.0.5)
Requirement already satisfied: jupyterlab-widgets~=3.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipywidgets>=7.5.1->pandas-profiling[notebook]) (3.0.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from jupyter-client>=5.3.4->pandas-profiling[notebook]) (2.8.2)
Requirement already satisfied: pyzmq>=23.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from jupyter-client>=5.3.4->pandas-profiling[notebook]) (25.1.0)
Requirement already satisfied: tornado>=6.2 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from jupyter-client>=5.3.4->pandas-profiling[notebook]) (6.2)
Requirement already satisfied: platformdirs>=2.5 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from jupyter-core>=4.6.3->pandas-profiling[notebook]) (2.5.2)
Requirement already satisfied: contourpy>=1.0.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.2.0->pandas-profiling[notebook]) (1.0.5)
Requirement already satisfied: cycler>=0.10 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.2.0->pandas-profiling[notebook]) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.2.0->pandas-profiling[notebook]) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.2.0->pandas-profiling[notebook]) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.2.0->pandas-profiling[notebook]) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.2.0->pandas-profiling[notebook]) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling[notebook]) (2022.7)
Requirement already satisfied: annotated-types>=0.4.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pydantic>=1.8.1->pandas-profiling[notebook]) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.3 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pydantic>=1.8.1->pandas-profiling[notebook]) (2.16.3)
Requirement already satisfied: typing-extensions>=4.6.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pydantic>=1.8.1->pandas-profiling[notebook]) (4.10.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from requests>=2.24.0->pandas-profiling[notebook]) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from requests>=2.24.0->pandas-profiling[notebook]) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from requests>=2.24.0->pandas-profiling[notebook]) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from requests>=2.24.0->pandas-profiling[notebook]) (2023.5.7)
Requirement already satisfied: appnope in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.1.2)
Requirement already satisfied: comm>=0.1.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.1.2)
Requirement already satisfied: debugpy>=1.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling[notebook]) (1.5.1)
Requirement already satisfied: matplotlib-inline>=0.1 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.1.6)
Requirement already satisfied: nest-asyncio in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling[notebook]) (1.5.6)
Requirement already satisfied: psutil in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->pandas-profiling[notebook]) (5.9.0)
Requirement already satisfied: backcall in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.2.0)
Requirement already satisfied: decorator in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.18.1)
Requirement already satisfied: pickleshare in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (2.15.1)
Requirement already satisfied: stack-data in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (4.8.0)
Requirement already satisfied: six>=1.5 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->jupyter-client>=5.3.4->pandas-profiling[notebook]) (1.16.0)
Requirement already satisfied: PyWavelets in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling[notebook]) (1.4.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.7.0)
Requirement already satisfied: wcwidth in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.2.5)
Requirement already satisfied: executing in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.8.3)
Requirement already satisfied: asttokens in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (2.0.5)
Requirement already satisfied: pure-eval in /Users/jones_egydio/anaconda3/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.5.1->pandas-profiling[notebook]) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

/Users/jones_egydio/anaconda3/lib/python3.11/site-packages/numba/core/decorators.py:262: NumbaDeprecationWarning: numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.
  warnings.warn(msg, NumbaDeprecationWarning)
/Users/jones_egydio/anaconda3/lib/python3.11/site-packages/visions/backends/shared/nan_handling.py:50: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @nb.jit

PydanticImportError: `BaseSettings` has been moved to the `pydantic-settings` package. See https://docs.pydantic.dev/2.6/migration/#basesettings-has-moved-to-pydantic-settings for more details.

For further information visit https://errors.pydantic.dev/2.6/u/import-error